/* Navigation section */
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

.navbar {
    padding: 8px 0;
    font-family: 'Open Sans', serif;
    justify-content: space-between;
    display: flex;
    /*background-color: #f0f4f8;*/
    align-items: center;
    position: sticky;
    box-sizing: border-box;
}

.nav {
    display: flex;
    gap: 16px;
    color: #121212;
}

.logo {
    color: #1c3f3f;
    font-family: 'Limelight', serif;
    font-size: 12px;
}

.nav ul {
    display: flex;
    gap: 24px;
    padding: 8px;
}

.nav li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    color: #121212;
    margin: 4px;
}
.nav li:hover {
    border-bottom: 2px solid #1c3f3f;
    transform: translateY(-4px);
    color: #1c3f3f;
    cursor: pointer;
}

.job {
    color: #a7d3e0;
}

.profile {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-position: center;
}
.container {
    background-color: #fcfcfc;
    border: 1px solid #7272721f;
    box-shadow: -1px 2px #72727271;
    padding: 16px;
    border-radius: 16px;
    margin-top: 8px;
    margin-right: 100px;
}
.container-cont {
    display: flex;
    gap: 8px;
    align-items: top;
}
.container-cont p {
    opacity: 0.7;
    font-size: 12px;
}
.view-profile {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    margin-top: 8px;
    color: #121212;
    cursor: pointer;
}
.view-profile:hover{
    background: #7272721f;
}

.auth-btn {
    padding: 8px 16px;
    outline: none;
    background-color: transparent;
    border: none;
    height: 48px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600px;
    color: #1c3f3f;
}
.reg {
    background-color: #1c3f3f;
    color: #fcfcfc;
}
.auth-btn:hover{
    background-color:rgb(0, 148, 148);
    color: #fcfcfc;
}

/* Hero section */
.hero-sec {
    padding: 80px 24px;
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(18, 18, 18, 0.08);
    border-radius: 16px;
    box-shadow: 1px 1px rgba(175, 175, 175, 0.26);
    background-color: #fcfcfc;
    width: 100%;
    gap: 40px;
}
.hero{
    width: 100%;
    margin: auto 0;
}
.hero .heading{
    font-size: 11px;
    color: #fcfcfc;
    background-color: #1c3f3f;
    padding: 4px 16px;
    border-radius: 30px;
}
.hero h1 {
    color: #121212;
    line-height: 50px;
    font-size: 48px;
    font-weight: 600;
    margin-top: 16px;
}
.hero p {
    font-size: 16px;
    color:rgb(100, 100, 100);
    margin-top: -8px;
    margin-bottom: 32px;
}
.findjobs{
    border: 1px solid #121212;
    height: 48px;
    border-radius: 30px;
    width: 100;
    display: flex;
    width: 85%;
    
}
.search {
    width: 100%;
    height: 48px;
    margin: auto 0;
    border-radius: 30px 0 0 30px;
    padding: 0 16px;
    outline: none;
    border: none;
}
.search:focus{
    outline: 1.2px solid #121212;
}
.findjobs button {
    width: 15%;
    background-color: transparent;
    height: 48px;
    color: #fcfcfc;
    font-size: 16px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    background-color: #121212;
}
.findjobs button:hover {
    background-color: #1c3f3f;
}
.hero-img-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap:  16px;
    width:100%;
    filter: brightness(80%);
}
.masked-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50% !important;
}
.img1  {
    /*clip-path: polygon( 10% 0%, 90% 0%, 100% 40%, 80% 100%, 20% 100%, 0% 40%);*/
    border: 5px solid rgba(0, 0, 255, 0.137);
}
.img2 {
    border: 5px solid rgba(255, 217, 0, 0.445);
    /*clip-path: polygon( 20% 0%, 80% 0%, 100% 30%, 85% 100%, 15% 100%, 0% 30%);*/
}
.img3 {
    border: 5px solid rgba(255, 0, 0, 0.178);
    /*clip-path: polygon( 20% 0%, 80% 0%, 100% 30%, 85% 100%, 15% 100%, 0% 30%);*/
}
/* category carousel */
.categorySec {
    background-color: #fcfcfc;
    border-radius: 16px;
    box-shadow: -1px 2px #72727271;
    box-sizing: border-box;
    padding: 40px 24px;
    border: 1px solid rgba(18, 18, 18, 0.08);
    width: 100%;
}
.cat-heading{
    font-family: 'Open Sans' serif;
    font-weight: 500px;
    color: #121212;
    font-size: 32px;
}
.carousel-body{
    font-size: 16px;
    font-family: 'Open Sans', serif;
    color: rgb(100, 100, 100);
}
.carousel{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 24px;
}

.cat-card{
    background-color: rgba(196, 193, 193, 0.10);
    gap: 16px;
    padding: 16px;
    width: calc(100%-24px);
    border-radius: 8px;
    border-left: 10px solid #1c3f3f;

}
.catreview{
    font-size: 16px;
    color: #121212;
}
.catrew{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.catReview-para{
    font-size: 12px;
    color: #727272;
    padding: 4px 8px;
    border-radius: 50px;
}
/* job listings */
.companyLogo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #1c3f3f;
}
.job-heading{
    display: flex;
    gap: 8px;
    align-items: center;
}
.cd {
	margin-bottom: 8px;
}
.company-det{
    display: flex;
    flex-direction: column !important;
    margin: 0;
}
.company-det h1 {
    font-weight: 500;
    font-size: 32px;
    font-family: 'Open Sans', serif;
}
.company-det p {
	font-size: 18px !important;
	color: #727272;
	font-weight: 500;
	margin-top: -16px;
}
.jobSec {
	margin-top: 16px;
}
.jobSec h1 {
	color: #121212;
	font-family: 'Open Sans', serif;
}
.jobSec p{
	font-size: 16px;
	color: #727272;
	font-family: 'Open Sans', serif;
}
.jobinfo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;
}
.jobinfo .badge{
	color: white;
	padding: 4px 10px;
	border-radius: 8px;
}
.O{
	background-color: #FF5C5C;
}
.P{
	background-color: #610C04;
}
.R{
	background-color: #750000;
}

/* latest jobs */
.latestJobSec {
    background-color: #fcfcfc;
    border-radius: 16px;
    box-shadow: -1px 2px #72727271;
    box-sizing: border-box;
    padding: 40px 24px;
    border: 1px solid rgba(18, 18, 18, 0.08);
    width: 100%;
    }
.latestJobTitle {
	font-size: 32px;
	font-weight: 600;
	font-family: 'Open Sans', serif;
	color: #121212;
}
.latestjobTitle span {
	color: #121212;
}

/*testimonial section */
.testimonials-section {
	background-color: #fcfcfc;
    border-radius: 16px;                                   box-shadow: -1px 2px #72727271;
    box-sizing: border-box;
    padding: 40px 24px;
    border: 1px solid rgba(18, 18, 18, 0.08);
    width: 100%;
    }
.testimonial-card {
	 background-color: rgba(18, 18, 18, 0.5);
  backdrop-filter: blur(300px);
  -webkit-backdrop-filter: blur(300px);
    border-radius: 16px;                                   box-shadow: -1px 2px #72727271;
    box-sizing: border-box;
    padding: 24px;
    border: 1px solid rgba(18, 18, 18, 0.08);
    width: 100%;
    color: #F2F3F4;
 }
 .reviewfrom {
	 display: flex;
	 gap: 16px;
	 margin-top: 40px;
	 align-items: center;

 }
#reviewer {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 2px solid #fcfcfc;
}
#rate {
	 font-size: 32px ;
	 font-weight: 600;
	 font-family: 'Open Sans', serif;
	 color: #fcfcfc;
 }

 #rev-name{
	 font-size: 16px;
	 font-family: 'Open Sans', serif;
	 font-weight: 600;
	 color: #fcfcfc;
 }
 #role {
	 font-size: 14px;
	 margin-top: -16px;
		 font-family: 'Open Sans', serif;
 }
	 
/* service grid */
.service-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fcfcfc;
    border-radius: 16px;
    box-shadow: -1px 2px #72727271;
    box-sizing: border-box;
    padding: 40px 24px;
    border: 1px solid rgba(18, 18, 18, 0.08);
    width: 100%;
}

.service-card {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-grid-title {
	font-weight: 600;
	text-align: center;
	font-family: 'Open Sans', serif;
	font-size: 48px;
}

.service-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.xsmall{
	width: 32px;
	height: 32px;
}
.xlarge{
	width: 200px;
	height:200px;
}
.small {
  width: 80px;
  height: 80px;
}

.large {
  width: 140px;
  height: 140px;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
/* Job section */
.job-sec {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 40px;
    
}
.filter-sec {
    background-color: #fcfcfc;
    border-radius: 16px;
    box-shadow: -1px 2px #72727271;
    box-sizing: border-box;
    padding: 40px 24px;
    border: 1px solid rgba(18, 18, 18, 0.08);
    width: 100%;
    display: flex;
    gap: 8px;
}
.job-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;
}
/* job card section */
.jobcard {
    border: 1px solid rgb(18, 18, 18, 0.08);
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
}
.jobcard-title{
    display: flex;
    justify-content: space-between;
}
.jobcard-title p {
    font-size: 12px;
    color: rgb(100, 100, 100);
    font-family: 'Open Sans', serif;
    font-weight: 500;
}
.jobcard-title button {
    outline: none;
    border: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    color: #121212;
}
.jobcard-company-info {
    display: flex;
    gap: 8px;
    align-items: center;
}
.jobcard-img img {
    width: 40px;
    height: 40px;
    border: 2px solid #121212;
    border-radius: 50%;
}
.jobcard-dts {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.jobcard-dts h1{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', serif;
    margin-bottom: -16px;
    padding: 0;
}
.jobcard-dts p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', serif;
    color: #121212;
}
.jobcard-des h1{
    font-weight: 500;
    font-family: 'Open Sans', serif;
    color: #121212;
    font-size: 24px;
    margin-top: 16px;
    color: #121212;
}
.jobcard-des p{
    font-size: 14px;
    color: #727272;
}
.jobcard-btns {
    display: flex;
    gap: 16px;
}
.jobcard-btn {
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(100, 100, 100);
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
}
.jobcard-btn:hover {
    background-color: rgb(0, 148, 148);
    color: #fcfcfc;
    border: 1px solid transparent;
}
.save {
    border: 1px solid transparent;
    background-color: #1c3f3f;
    color: #fcfcfc;
}
.jobcard-banners {
    display: flex;
    gap: 24px;
}
.jobcard-banners p {
    font-size: 12px;
    color: #121212;
    margin-bottom: 40px;
}
/* filter section */
.filtersec {
    width: 30%;
    border: 1px solid rgb(18, 18, 18, 0.08);
    border-radius: 16px;
    padding: 24px 40px 24px 24px;
    box-sizing: border-box;

}
/* filtercard section */
.filtersec-heading {
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", serif;

}
.filter-search{
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid #727272;
    border-radius: 4px;
    padding: 8px 0 8px 8px;
}
.filter-search:focus {
    outline: 1.5px solid #121212;
    color: #121212;
}
.filter-search input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #121212;
}
.filter-search button{
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    color: #121212;
}
.filterType h2 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', serif;
    color: #121212;
    margin-top: 24px;
}
.filteritem{
    color: #727272;
    align-items: center;
    display: flex;
    gap: 2px;
    margin-top: 4px;
}
.filteritem label{
    font-size: 14px;
}

/* footer section */
.footer{
	width: 100%;
	padding: 120px 0;
	align-items: center;
	border-top: 1px solid #727272;
	color: #121212;
}
.footer h1{
	font-family: 'Open Sans', serif;
	font-weight: 600;
	text-align: center;
}
